# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name : Checking node and npm version
      run : |
        node -v
        npm -v
    - run : pwd && ls #Checking Files before backup
    - name : Installing Packages
      run : |
        npm install
    - name : Starting the Node File
      run : node index
    - run : pwd && ls #Checking Files After Backup
